[class*="col-"]{
    float: left;
}

@media only screen and (min-width: 768px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header{background-color: #95bee2;}

#een{
    margin-left: 20px;
}
#twee{
    margin-left: 100px;
}
}

body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

header{
    width: 100%;
    min-height: 200px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

#kop{
    background-image: url(Afbeeldingen/Den\ Helder.png);
    width: 600px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    font-family: "MonteCarlo", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
    position: relative;
    margin-top: 10px;
}

#een{
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-color: #95bee2;
    border-width: 4px;
    margin-top: 20px;
}

#twee{
    background-color: #C7EBFF;
    min-height: 600px;
    margin-top: 20px;
    }

.attractie{
    padding: 20px;
}

img{
    float: right;
    padding: 10px;
    width: 25%;
}

footer{
    display: inline-block;
    width: 100%;
    min-height:150px;
    background-color: #95bee2;
    margin-top: 50px;
}